.main-page{
  position: relative;
  margin: auto auto;
  width: 90vw;
  height: 100%;
  color: white;
  display: grid;
  grid-auto-rows: 73% 7% 7% 7%;
  div{
    background: url("../../assets/img/1.jpg") no-repeat;
    background-size: cover;
  }
}